@media (min-width: 320px){
	#timeline{
			height:400px;
			background-color: white;
			border-top:5px solid #D7D131;
			margin:10px 0;
		}

		#timeline h2{
			margin:10px 0;
			color:black;
			font-weight:500;
		}
	nav {
		height:120px;
	}
    .nav {
    	text-align: center;
    }
	#user-list-item p {
		font-size: 12px;
	}

	#user-list-item img {
		width:30px;
		height:30px;
	}

	#timeline {
		padding: 5px;
	}

	#timeline > h2 {
		color:white;
	}

	/*#navigation-panel {
		position: absolute;
		z-index: 3;
	}*/

	/*CREATE POSTING PAGE*/
	#posting{
			height:auto;
			background-color: white;
			border-top:5px solid #D7D131;
			margin:10px 0;
			padding: 10px;
		}

		#posting h2{
			margin:10px 0;
			color:black;
			font-weight:500;
		}

		label {
			color:black;
		}

		/*PROFILE PAGE of dashboard*/
		#profile{
			height:auto;
			background-color: white;
			border-top:5px solid #D7D131;
			margin:10px 0;
			padding: 10px;
		}

		#profile h2{
			margin:10px 0;
			color:white;
			font-weight:500;
		}
}


@media (min-width: 576px) {

	nav {
		height:120px;
	}
	#user-list-item p {
			font-size: 24px;
		}

		#user-list-item img {
			width:50px;
			height:50px;
		}



}

@media (min-width: 768px) {
	nav {
		height:120px;
	}

	.recommended-job{
		width:25%;
		margin:0;
		height:150px;
	}
    
	#recommend-job-header {
		font-size: 20px;
	}
}

@media (min-width: 992px) {
	nav {
		height:120px;
	}

	.recommended-job{
		width:25%;
		margin:0;
		height:200px;
	}

	#recommend-job-header {
		font-size: 20px;
	}

	#user-list-item{
		text-align: center;
		padding-left: 150px;
	}
	#user-list-item img {
		margin:0 auto;
	}

	#user-list-item p {
		text-align: center;
	}
}
@media (min-width: 1200px) {
	nav {
		height:120px;
	}

	.recommended-job{
		width:25%;
		margin:0;
		height:200px;
	}

	#recommend-job-header {
		font-size: 20px;
	}

	.notifications {
		float:right;
	}
	#user-list-item{
		width:auto;
		padding-left: 300px;
	}
}

@media (min-width: 1201px){
	#user-list-item{
		width:auto;
		padding-left: 600px;
	}

	.recommended-job{
		width:25%;
		margin:0;
		height:200px;
	}
}