

@media (min-width: 320px){
	.button-div {
	    float: left;
	    width: 100%;
	    height: 100px;
	    background-color: #90C8F0;
	    text-align: center;
	    padding: 30px 0;
	    margin: 2px 0;
	    color: black;
	    transition: background-color 0.1s linear 0s;
	}

	#buttons {
		margin-top:100px;
	}

	.button-div i{
		color:white;
		font-size:48px;
	}

	.button-div:hover {
		background-color:#379BE1;
		cursor: pointer;

	}

	.button-div h1 {
		font-size: 20px;
		margin: 0;
	}

}

@media (min-width: 768px) {

	#buttons {
		margin-top:0px;
	}
	.button-div {
	    float: left;
	    width: 100%;
	    height: 300px;
	    background-color: #90C8F0;
	    text-align: center;
	    padding: 120px 0;
	    color: black;
	    transition: background-color 0.1s linear 0s;
	}

	  #logo,.zeroLogo {
	    font-size:100px;
	  } 

	  #logo-panel,#login-form{
	  	margin-top:100px;
	  }
}

@media (min-width: 1200px) {

	#buttons {
		margin-top:150px;
	}
	.button-div {
	    float: left;
	    width: 31%;
	    height: 300px;
	    background-color: #90C8F0;
	    margin:0 1%;
	    text-align: center;
	    padding: 120px 0;
	    color: black;
	    transition: background-color 0.1s linear 0s;
	}

	  #logo,.zeroLogo {
	    font-size:100px;
	  } 

	  #logo-panel,#login-form{
	  	margin-top:100px;
	  }
}