@media (max-width: 320px){
	.navigation {
		padding: 0;
	}

	.navigation a {
		width:100%;
	}
	.navigation li {
		padding:0;
	}
     .navigation .white-btn{
     	font-size: 12px;
     	float:left;
     	padding:10px;
     }

     /*Search CSS*/

     .search-header{
     	margin:30px 0;
     }

     .search-header h1 {
     	font-size: 30px;
     }

     .search-area input {
     	width:100%;
     	margin:0;
     	padding:10px;
     	border-top-left-radius: 5px;
     	border-bottom-left-radius: 5px;
     	color:#23CCF3;
     	font-weight: bold;
     }
	
}





