@media (min-width: 576px) {

	nav {
		height:200px;
	}

	.recommended-job{
		width:25%;
		margin:0;
		height:150px;
	}

	.recommended-job > div {
		height:100%;
		padding:5px;
		background: rgba(0,0,0,0.6);
	}

	.recommended-job h3{
  		font-size: 16px;
	}

	.recommended-job p {
		font-size: 10px;
		word-wrap: break-word;
	}

	#navigation-panel {
		position: absolute;
		z-index: 3;
		width:0;
		display: none;
	}


}

@media (min-width: 768px) {
	nav {
		height:120px;
	}

	.recommended-job{
		width:100%;
		margin:0;
		height:150px;
	}

	#recommend-job-header {
		font-size: 20px;
	}
}