@media (min-width: 320px){
	.recommended-job{
		width:100%;
		margin:0;
		height:150px;
	}

	.applied-job{
		width:100%;
		margin:0;
		height:150px;
	}

	.applied-job > div{
	    height: 100%;
	    padding: 5px;
	    background: rgba(0,0,0,0.6);
	}

	nav {
		height: 160px;
	}

	#user-list-item {
		width:100%;
	}

	#user-list-item img {
	    width: 40px;
    	height: 40px;
	}

	#user-list-item p {
		font-size: 16px;
		 word-wrap: break-word; 
	}
	#user-list-item a{
		float:left;
	}

	label {
		color:white;
	}

	#applied-job-header{
		font-size: 20px;
	}
}


@media (min-width: 576px) {

	nav {
		height:200px;
	}

	.recommended-job{
		width:50%;
		margin:0;
		height:200px;
	}

	.recommended-job > div {
		height:100%;
		padding:5px;
		background: rgba(0,0,0,0.6);
	}

	.recommended-job h3{
  		font-size: 16px;
	}

	.recommended-job p {
		font-size: 10px;
		word-wrap: break-word;
	}

	


}

@media (min-width: 768px) {
	nav {
		height:120px;
	}

	.recommended-job{
		width:25%;
		margin:0;
		height:150px;
	}

	#recommend-job-header {
		font-size: 20px;
	}
}

@media (min-width: 992px) {
	nav {
		height:120px;
	}

	.recommended-job{
		width:25%;
		margin:0;
		height:200px;
	}

	#recommend-job-header {
		font-size: 20px;
	}

	#user-list-item{
		text-align: center;
		padding-left: 150px;
	}
	#user-list-item img {
		margin:0 auto;
	}

	#user-list-item p {
		text-align: center;
	}
}
@media (min-width: 1200px) {
	nav {
		height:120px;
	}

	.recommended-job{
		width:25%;
		margin:0;
		height:200px;
	}

	#recommend-job-header {
		font-size: 20px;
	}

	.notifications {
		float:right;
	}
	#user-list-item{
		width:auto;
		padding-left: 300px;
	}
}

@media (min-width: 1201px){
	#user-list-item{
		width:auto;
		padding-left: 600px;
	}

	.recommended-job{
		width:25%;
		margin:0;
		height:200px;
	}

	.applied-job{
		width:25%;
		margin:0;
		height:200px;
	}

}