html, body {
                
                color: #636b6f;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }
            body {

            }

            
            .nav > li > a:hover{
                background:none;
            }
            #navigation {
                
            }
            #header{
                background-color: #23CCF3;
                width:100%;
                height:15%;
            }
            #Container{
                width:100%;
                height:900px;
            }
            #float-back   { position:fixed; bottom:50px;right:50px; }
            .container-fluid {
                height:85%;
                margin: 0;
                padding:0;
            }
            #otherContainer{
                width:100%;
                height:55%;
                background-color: #1C274A;
            }
            #otherContainer h2 {
                color:white;
                font-size:18px;
            }
            .navigation {
                list-style: none;
                margin:0;
                text-align: center;
            }

            .navigation > li {
                display: inline-block;
                color:white;

            }
            .navigation > li > a {
                text-decoration: none;
                color:white;
                font-size: 16px;
            }
            .nav>li>a:hover {
                text-decoration: none;
                /* background-color: #eee; */
            }
            .search-btn{
                background-color: #23CCF3;
                padding:30px;
                border:none;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                color:white;
                width:100%;
                font-size:18px;
            }
            .white-btn{
                background-color: #23CCF3;
                border:none;
                padding: 20px;
                border-radius: 5px;
                color:white;
                font-size:18px;
            }

            .zeroLogo {
                color:#29C9C8;
                font-size: 36px;
                font-variant-numeric: slashed-zero;
            }
            #logo-div > h1 {
                display:inline-block;
                color:white;
                /*font-weight: bold; */
                margin-top:40px;
                margin-left:50px;
            }
            .search-header{
                margin:180px 0;
                color:white;
            }

            .search-header p {
                font-size:24px;
            }
            
            .search-boxes > input {
                padding:10px;
                border:2px solid #23CCF3;
                color:#23CCF3;
                margin-top:20px;
                font-weight: bold;
                font-family: 'Raleway', sans-serif;
            }
           input::-webkit-input-placeholder {
                color:#B6B6B6;
                font-size:18px;
                font-weight: bold;
                font-family: 'Raleway', sans-serif;
            }
            .search-button-div {
                text-align: center;
            }
            .advanced-search{
                color:white;
                line-height: 4;
            }
            .advanced-search:hover {
                color:#23CCF3;
                text-decoration: underline;
            }

            /*RECENT JOBS*/
            .recent-job {
                 border:2px solid #FFFFFF;
                 transition: border 0.1s linear 0s;
            }
            .recent-job:hover{
                border:2px solid #23CCF3;
                cursor: pointer;
            }


            /*Database info*/
            

            /*Popular Category*/

            .category {
                width:31%;
                float:left;
                height:350px;
                background-color: #FFFFFF;
                margin: 0 15px;
                margin-top: 30px;
                box-shadow: 1px 1px 1px #E6E6E6;
                transition: background-color 0.3s ease-in-out 0s;
            }

            .category:hover {
                background-color: #23CCF3;
                cursor: pointer;
                color:white;
            }
            
            .icon-div {
                text-align: center;
            }
            .inner-icon-div{
                display: inline-block;
                padding:20px;
                margin: 40px; 
                border-radius: 50%;
                background-color: white;
            }
            .icon-div i {
                display:inline-block;
                font-size: 48px;
                line-height: 1;
                color:#23CCF3;
            }
            /*Social media icons*/
            #social-medias {
                padding: 10px 0;
            }
            #social-medias h3 {
                display:block;
                float:left;
                color:white; 
                margin:0;
                font-size: 14px;
            }

            #social-medias img {
                float:left;
                width:50px;
                height:50px;
                margin-right: 50px;
            }

            /*POLLS css*/
            #polls {
                color:white;
                font-size: 12px;
                text-align:center;
            }
            #polls h3 {
                font-size: 16px;
                color:white;
            }

            #polls form {
                text-align: center;
                margin-bottom: 10px;
            }

            #polls input {
                margin:0 auto;
                margin-right:10px;
                background-color: transparent;
            }

            #view-results {
                display: inline-block;
                padding:5px;
                color:white;
                margin:0 auto;
                border:1px solid white;
            }

            #view-results:hover{
                color:white;
                text-decoration: none;
            }

            .site-footer {
                background-color: #26272b;
                padding: 45px 0 20px;
                font-size: 14px;
                line-height: 24px;
                color: #bbb;
            }

            .site-footer ul {
                list-style: none;
            }

            .site-footer a {
                text-decoration: none;
                color:white;
            }

            .fa {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
            }

            .site-footer .social-icons {
                    text-align: right;
            }
            .social-icons li {
                display: inline-block;
                margin-bottom: 4px;
            }
           .site-footer .social-icons a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin-left: 6px;
                margin-right: 0;
                border-radius: 100%;
                background-color: #33353d;
            }

            .social-icons a {
                background-color: #eceeef;
                color: #818a91;
                font-size: 16px;
                display: inline-block;
                line-height: 44px;
                width: 44px;
                height: 44px;
                text-align: center;
                margin-right: 8px;
                border-radius: 100%;
                -webkit-transition: all .2s linear;
                -o-transition: all .2s linear;
                transition: all .2s linear;
            }

            .site-footer .social-icons a:hover {
                color: #29aafe;
                text-decoration: none;
                -webkit-transition: color .3s linear;
                -o-transition: color .3s linear;
                transition: color .3s linear;
                outline: 0;
            }
.navbar-header .navbar-toggle .icon-bar {
    background-color: white;
}


/*CLASSES*/

.number {
   margin:10px;
   padding:15px 20px;
   color:white;
   border-radius: 50%;
}

.number-primary {
    background-color: #0074d9;
}